footer
  border-top 1px solid #E5E5E5
  margin-top 150px
  padding 25px 0
  text-align right
  position absolute
  bottom 0
  width 100%
  right 0
  background-color #f9f9f9
  .container
    margin-right 100px
