$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap-styl/bootstrap/index';

//
// App-wide Styles
//
@font-face
  font-family: Lalezar
  font-style: normal
  font-weight: 400
  src: local('Lalezar'), local('Lalezar-Regular'), url(https://fonts.gstatic.com/s/lalezar/v1/1DAOO6BooPMSJrLlr2uLug.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through gulp
/* inject:styl */
@import 'admin/admin';
@import 'game/game';
@import 'main/main';
@import 'play/play';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
/* endinject */

for i in (1..60)
  .height-{i*5}
    height i*5px
  .width-{i*5}
    width i*5px
  .margin-left-{i*5}
    margin-left i*5px

for i in range(5, 100, 5)
  .width-pct-{i}
    width i*1%
  .height-pct-{i}
    height i*1%


html, body
  height 100%

.push
  height 120px

.wrapper
  min-height 100%
  margin 0 auto -81px

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

.content-table
  border 2px solid black
  thead
    height 430px
    overflow-y scroll
  tbody, thead, tr, td
    display block
    word-wrap: break-word
  td
    width 225px
  input
    display inline-block
  .gray
    background-color #f7f7f7
  .content-info
    font-size 12px
    color #a3a3a3
    
.start-table
  tbody
    height 400px
    overflow-y scroll
  thead, tbody
    display block
    th, td
      width 300px
