#setting-button
  margin 5px
#game-brand
  font-family Lalezar
  font-size 50px
  color #777
  margin-right 50px
  text-decoration none
.navbar
  .container
    margin 0px 5%
    height 70px
.navbar-nav
  li
    a
      height 71px
      padding 25px
    p
      margin-top 25px
    .dropdown
      margin-top 13px
