div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#game-brand(href='/') The Drawing Game

    div#navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav

        li(ng-show='$ctrl.isAdmin()', ui-sref-active='active')
          a(ui-sref='admin') Admin

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='signup') Sign up

        li(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='login') Login

        li(ng-show='$ctrl.isLoggedIn()')
          p.navbar-text Hello {{ $ctrl.getCurrentUser().name }}

        li(ng-show='$ctrl.isLoggedIn()', ui-sref-active='active')
          .dropdown(uib-dropdown)
            button.btn.btn-default.dropdown-toggle#setting-button(type="button", data-toggle="dropdown" uib-dropdown-toggle)
              span.glyphicon.glyphicon-cog
            ul.dropdown-menu(uib-dropdown-menu)
              li
                a(href="settings") Change password
              li
                a(href="achievements") Achievements

        li(ng-show='$ctrl.isLoggedIn()')
          a(ui-sref='logout') Logout
