.container
  .gamelist
    h1#headline Avilable games
    .row.height-50
    table#game-table.table.table-striped.start-table
      thead
        tr
          th Name
          th Drawer
          th Language
          th Password
          th
      tbody
        tr(ng-repeat="game in gameShowCtrl.games | orderBy: '-createdAt'")
          td {{game.name}}
          td {{game.drawer}}
          td {{game.language | capitalize}}
          td
            input(type="password" placeholder="password" ng-show="game.password === 'true'" id="{{game._id}}")
          td
            a.btn.btn-danger(ng-href="/play/{{game._id}}" ng-click="gameShowCtrl.addStorage(game._id); $event.preventDefault()") Join
    .row.height-50
    .row
      .col-md-4
      .col-md-4
        a.btn.btn-danger.center(ui-sref="gameAdd") Start New Game
      .col-md-4