.content-table
  border 2px solid black
  thead
    height 350px
    overflow-y scroll
  tbody, thead, tr, td
    display block
    word-wrap: break-word
  td
    width 255px
  input
    display inline-block
  .gray
    background-color #f7f7f7
  .content-info
    font-size 12px
    color #a3a3a3


#canvas
  border 2px solid black
  margin-top 60px

.erasing
  border 2px solid red
  border-radius 2px

.picker-center
  border-radius 2px
  height 20px
  width 20px

.colorinput
  padding 5px

.colorpicker
  cursor pointer
  margin 8px

#eraser-label
  position relative
  top -15px
  .picker-wrapper
    padding-right 10px


.fa-eraser
  color hotpink
  font-size 25px
.picker-wrapper
  padding 5px
  border 2px solid transparent


input[type='radio']:checked + .picker-wrapper
  border 2px solid black